.carousel {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (--lg) {
    position: absolute;
    flex-direction: row;
    top: 80%;
  }
  
}

.hero-info {
  width: 100%;
  
  @media (--lg) {
    width: 50%;
  }
}

.hero-img-container {
  overflow: hidden;
  margin: 1rem 0rem;
}

.hero-img {
  transform: scale(1.5);

  @media (--lg) {
    transform: scale(1.125);
  }
}

.card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-width: 40em;

  @media (--lg) {
    flex-direction: row;
  }
}

.card-collapsed {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-width: 40em;
  min-width: 20em;
}

.card-header {
  display: flex; 
  flex-direction: column; 
  width: 100%; 
  justify-content: flex-start; 
  margin: 4rem 1rem;
}

.card-header-collapsed {
  display: flex; 
  flex-direction: column; 
  width: 100%; 
}

.card-img {
  border-radius: 50%;
  margin: auto;
  margin-top: 1rem;
  width: 100px;
  height: 100px;

  @media (--lg) {
    margin: 0px auto;
  }
}

.quote {
  font-size: 5.25rem;
  font-family: var(--quote);
  margin: auto;
  height: 3rem;

  @media (--lg) {
    margin: 0px auto;
  }
}

.card-content {
  margin: 1rem;
  text-align: center;
}

.testimonial {
  font-weight: bold;
  font-family: var(--serif);
  text-align: center;

  @media (--lg) {
    text-align: left;
    font-size: 1.5rem;
  }
}

.student {
  margin: 2rem;
  display: flex;

  @media (--lg) {
    margin: 0rem;
    text-align: left;
  }
}

.name {
  font-weight: bold;
}

.major {
  padding: 0rem 0.5rem;

  @media (--lg) {
    padding: 0px;
  }
}

.video-link {
  font-weight: bold;

  @media (--lg) {
    text-align: left;
  }
}

.fa-circle-play {
  padding-left: 0.5rem;
}

.swiper-slide {
  background-color: var(--white);
  color: var(--purple);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
}
