<div class="container">
  <div class="hero">
    <h1>Our Community</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="hero-container">
    <img src="img/hero_img.jpg" class="hero-img" />
  </div>
  <div class="carousel">
    <div class="swiper-slide">
      <div class="card">
        <img 
          class="card-img" 
          src="img/maria_img.png" 
          alt="Card Image"
        >
        <span class="quote cyan">“</span>
        <div class="card-content">
          <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          <div class="student">
            <p class="name">Maria Valasquez '24</p>
            <p class="major">Business Administration & Management</p>
          </div>
          <a class="video-link">
            Watch Maria's Video 
            <i class="fa-regular fa-circle-play"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card">
        <img 
          class="card-img" 
          src="img/joseph_img.png" 
          alt="Card Image"
        >
        <span class="quote orange">“</span>
        <div class="card-content">
          <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          <p class="name">Maria Valasquez '24</p>
          <p>Business Administration & Management</p>
          <a class="name">Watch Maria's Video</a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card">
        <img 
          class="card-img" 
          src="img/savannah_img.png" 
          alt="Card Image"
        >
        <span class="quote magenta">“</span>
        <div class="card-content">
          <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          <p class="name">Maria Valasquez '24</p>
          <p>Business Administration & Management</p>
          <a class="name">Watch Maria's Video</a>
        </div>
      </div>
    </div>
  </div>
</div>