<div class="container-sm">
  <div class="hero-container">
    <div class="hero">
      <h1>Our Community</h1>
      <p class="hero-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="hero-img-container">
      <img src="img/hero_img.jpg" class="hero-img" />
    </div>
  </div>
  <div class="carousel swiper-container">
    <!-- desktop - expanded card -->
    <div class="swiper-slide">
      <div class="card">
        <div class="card-header">
          <img 
            class="card-img" 
            src="img/maria_img.png" 
            alt="Card Image"
          >
          <span class="quote cyan">“</span>
        </div>
        <div class="card-content">
          <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          <div class="student">
            <span class="name">Maria Valasquez '24</span>
            <span class="pipe">|</span>
            <span class="major">Business Administration & Management</span>
          </div>
          <a class="video-link">
            Watch Maria's Video 
            <i class="fa-regular fa-circle-play"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- desktop - collapsed card -->
    <div class="swiper-slide">
      <div class="card-collapsed">
        <div class="card-header-collapsed">
          <img 
            class="card-img" 
            src="img/joseph_img.png" 
            alt="Card Image"
          >
          <span class="quote orange">“</span>  
        </div>
        <div class="card-content-collapsed">
          <!-- <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p> -->
          <p class="name">Joseph Romero '23</p>
          <span>Respiratory Therapy</span>
          <!-- <a class="name">Watch Joseph's Video</a> -->
        </div>
      </div>
    </div>
    <!-- desktop - collapsed card -->
    <div class="swiper-slide">
      <div class="card-collapsed">
        <div class="card-header-collapsed">
          <img 
            class="card-img" 
            src="img/savannah_img.png"
            alt="Card Image"
          >
          <span class="quote magenta">“</span>  
        </div>
        <div class="card-content-collapsed">
          <!-- <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p> -->
          <p class="name">Savannah Estrada '25</p>
          <span>Dental Hygiene</span>
          <!-- <a class="name">Watch Savannah's Video</a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-group">
    <div class="pagination">
      <div class="pagination-button-group">
        <button class="swiper-button swiper-button-prev">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button class="swiper-button swiper-button-next">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
      <p class="pagination-count">1/4</p>
    </div>
    <button class="browse-button">
      Browse All Stories
    </button>
  </div>
</div>