body {
  color: var(--white);
  font-family: var(--sans-serif);
  font-size: 1rem;
  line-height: 1.6;
}

:--heading {
  margin: 1em 0 0.25em;
  color: var(--blue);
  font-family: var(--serif);
}

a {
  transition: color var(--transition);
  border-bottom: 2px solid var(--light-cyan);
  padding-bottom: 2px;

  &:hover {
    text-decoration: none;
  }
}

.cyan {
  color: var(--cyan);
}

.orange {
  color: var(--orange);
}

.magenta {
  color: var(--magenta);
}