/* custom media queries */
@custom-media --sm (width >= 32em);
@custom-media --md (width >= 48em);
@custom-media --lg (width >= 64em);
@custom-media --xl (width >= 80em);

/* custom selectors */
@custom-selector :--heading h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6;

:root {
  /* rgb values */
  --rgb-white: 255 255 255;
  --rgb-gray: 88 88 88;
  --rgb-black: 0 0 0;
  --rgb-purple: 84 46 142;
  --rgb-cyan: 0 182 201;
  --rgb-light-cyan: 91 198 204;
  --rgb-orange: 237 116 32;
  --rgb-magenta: 176 28 135;

  /* colors */
  --white: rgb(var(--rgb-white));
  --gray: rgb(var(--rgb-gray));
  --black: rgb(var(--rgb-black));
  --purple: rgb(var(--rgb-purple));
  --cyan: rgb(var(--rgb-cyan));
  --light-cyan: rgb(var(--rgb-light-cyan));
  --orange: rgb(var(--rgb-orange));
  --magenta: rgb(var(--rgb-magenta));

  /* fonts */
  --serif: "Roboto Slab", serif;
  /* I'm using the "FigTree" font here in place of "Proxima Nova," as it is not free use */
  --sans-serif: "FigTree", sans-serif;
  --quote: "Advent Pro", sans-serif;

  /* misc */
  --box-shadow: 0 0 0.5rem rgba(0 0 0 / 20%);
  --transition: 300ms ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    transform: translateY(1.5rem);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}
