/* utilities */
@import url("util/variables");
@import url("util/mixins");
@import url("util/base");
@import url("util/typography");
@import url("util/helpers");

/* components */
@import url("components/carousel");

* {
  /* outline: 1px dashed red; */
}

body {
  background-color: var(--purple);
}

.hero {
  display: flex; 
  align-items: baseline; 
  justify-content: space-between; 
  flex-direction: column;
}

@media (--lg) {
  .hero {
    flex-direction: row;
  }
}